body {
    font-family: 'Arial', sans-serif;
    background-color: #fafafa;
    color:  rgb(118, 118, 118);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: justify;
}

.container {
    width: 50%;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding: 20px;
    background-color: #3E7C65;
    border-radius: 15px;
    color: #f6f2f2;
    margin-bottom: 30px;
}

/****/
header img {
    margin-top: 10px;
    border-radius: 15px;
}

.content h3 {
    color: #3E7C65;
    font-size: x-large;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #3E7C65;
    display: inline-block;
}

.content ul li {
    padding: 5px;
}

.content ul li strong {
    color: rgb(82, 82, 82);
}

.content ul li a {
    text-decoration: none;
}

article {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

article:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

article h4 {
    font-size: larger;
    color: rgb(82, 82, 82);
    margin-bottom: 10px;
}

article a {
    color: #3E7C65;
    text-decoration: none;
    font-weight: bold;
}

article a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 15px;
    background: #f1f1f1;
    border-radius: 15px;
    margin-top: 20px;
}
