body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: aliceblue; 
  color: darkslategray;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: solid seagreen; 
  margin: 10px;
}

header img {
  margin: 10px;
  border: 2px solid seagreen; 
}

header p {
  font-size: 1;
  color: gray; 
}

a {
  color: dodgerblue;
}

.content h3 {
  font-size: 1.5;
  color: solid seagreen;
  border-bottom: 2px solid lightseagreen; 
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content p {
  font-size: 1;
  color: black;
  margin: 10px;
}

.content ul {
  list-style-type: square;
  margin: 10px;
  padding-left: 20px;
}

.content ul li {
  margin: 5px;
  color: darkred;
}

